<html>
    <head>
        <style>
            .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                margin : 8px 0;
                margin-left: auto;
                border: none;
                cursor: pointer;
                width: 50%;
                opacity: 1;
                
            }
            .btn:hover{
            opacity: 2;
            background-color: brown;
            color:white;
            }
        </style>

    </head>
    <body>
        <form>
            <input type="submit" value="Logout" formaction="/logout" class="btn">

        </form>
    </body>
</html>