<html>
    <head>
        <style>
            .btn  {

                background-color:blue;
                color:violet;
                padding: 18px 18px;
                margin : 9px 0;
                margin-left:auto;
                border:none;
                cursor:pointer;
                width: 60%;
                opacity:1;
            
            }
            .btn:hover {
            opacity:2;
            background-color:blueviolet;
            color:yellow;
            }

            
        </style>




    </head>
    <body>
        <form>

            <input type="submit" value="Logout"  formaction="/logout" class="btn">

        </form>
    </body>
</html>